# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
venv/
env/
.venv/

# IDEs and Editors
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Render / Deployment
render.yaml
